body {
  font-family: monospace;
  background-color: #1e1e2e;
  color: #c9cbff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #f5e0dc;
  font-size: 4vh;
}

p {
  color: #cdd6f4;
  font-size: 2vh;
}
